
.icon-floppy:before { content: '\e800'; } /* '' */
.icon-plus-circled:before { content: '\e801'; } /* '' */
.icon-minus-circled:before { content: '\e802'; } /* '' */
.icon-ccw:before { content: '\e803'; } /* '' */
.icon-cw:before { content: '\e804'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */