.idTemplate_edit_preview .idTemplate_edit_container {
    overflow: scroll;
    max-height: 70vh;
    position: relative;
}

.idTemplate_edit_preview_image {
    max-width: none;
}

.idTemplate_edit_preview_svg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

*[data-content] {
    width: 3rem;
}

.idTemplate_templatesList_item {
    cursor: pointer;
}
